<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAiu8zRWBmyR_B0FuDlbdLiO7ATJt3lTPo</string>
	<key>GCM_SENDER_ID</key>
	<string>91784840134</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.PostKit</string>
	<key>PROJECT_ID</key>
	<string>postkit-edc31</string>
	<key>STORAGE_BUCKET</key>
	<string>postkit-edc31.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:91784840134:ios:a40c0898eb15244cee68c7</string>
</dict>
</plist>